.container {
  background-color: #9366ad;
  border-radius: 10px;
}

.header {
  text-align: center;
  margin-top: 20px;
}

.content {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.footer {
  text-align: center;
  margin-bottom: 20px;
}

.container a > i {
  color: darkblue;
}

.links-icons {
  font-size: larger;
}
.links-icons a {
  color: darkblue;
}
